<div style='background: url(<%= asset_path "background2.jpg" %>) no-repeat center center fixed' class='container'>
<div class='frosted_glass_container_short'>
<div class='frosted_glass_header'>
<div class='page_head center'>New Collection</div>
</div>
<%= render partial: 'form', locals: {collection: @collection}%>
</div>
</div>