<div style='background: url(<%= asset_path "background2.jpg" %>) no-repeat center center fixed' class='container'>
<h2>New Collection</h2>
<%= render partial: 'form', locals: {collection: @collection}%>
</div>