<div style='background: url(<%= asset_path "background3.jpg" %>) no-repeat center center fixed' class='container'>
<div class='title'>Diorama</div>
<span class='subtitle'>save and curate your favorite tweets</span>
</div>