<div class='container'>
<h1><%= @user.user_name %></h1>
<h3>Public Collections:</h3>

<% @collections.each do |col| %>
<h4> <%= link_to "#{col.name}:", col %> </h4>
<%=  "#{col.description}" %>
<br>
<% end %>
</div>