<div style='background: url(<%= asset_path "background4.jpg" %>) no-repeat center center fixed' class='container'>
<div class='frosted_glass_container_short'>
<p><strong>Diorama</strong> is a tweet curation app first ideated by Doug Tebay during his time at the Flatiron Coding School.  It was first implemented by himself, Danny Gilberg, and Harrison Lavin during the school's first project mode.</p>
<h2>Git.blame:</h2>
Danny Gilberg<br>
Harrison Lavin<br>
Doug Tebay
</ul>
<!-- <p>How many times have you read a great tweet and wished you could save it, or had trouble re-finding a tweet you loved?</p>
<p>Every day, 500 million new tweets are posted.</p>
<p>Diorama gives you a way to save and curate your favorite tweets — to craft a world, in miniature, of</p>
<p>Diorama was created by Doug Tebay, Danny Gilbert, and Harrison Lavin as a project at Flatiron School.</p>
<p>The amazing dioramas you see here are the work of Lori Nix.</p> -->
</div>
</div>