<h1>About Diorama</h1>
<p><strong>Diorama</strong> is a tweet curation first ideated by Doug Tebay during his time at the Flatiron Coding School.  It was first implemented by himself, Danny Gilberg, and Harrison Lavin during the school's first project mode.</p>
<h2>Git.blame:</h2>
<ul>
<li>Danny Gilberg</li>
<li>Harrison Lavin</li>
<li>Doug Tebay</li>
</ul>